@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
}
