/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import de la police DM Serif Display depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

/* Styles globaux */
body {
  @apply font-sans;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white; /* <-- ici */
}


/* Assurer que tous les textes utilisent DM Serif Display */
h1, h2, h3, h4, h5, h6, p, span, a, button {
  font-family: 'DM Serif Display', serif;
}
